<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/Theme.MobileProgramming"
            tools:targetApi="31">

        <activity android:name="com.example.polimarche.Users.All.Menu.Main.Main"
                  android:screenOrientation="portrait"/>

        <activity android:name="com.example.polimarche.Users.Managers.Menu.Setup.ManagersSetup"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>

        <activity android:name="com.example.polimarche.Users.Managers.Menu.Tracks.ManagersTracks"
                  android:screenOrientation="portrait"/>

        <activity android:name="com.example.polimarche.Users.Managers.Menu.PracticeSession.ManagersPracticeSession"
                  android:screenOrientation="portrait"/>

        <activity android:name="com.example.polimarche.Users.All.Menu.Setup.See.DetailsMemberActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name="com.example.polimarche.Users.All.Menu.Setup.See.DetailsSetupActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name="com.example.polimarche.Users.All.Menu.Setup.See.DetailsWheelActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name="com.example.polimarche.Users.All.Menu.Setup.See.DetailsDamperActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name="com.example.polimarche.Users.All.Menu.Setup.See.DetailsSpringActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name="com.example.polimarche.Users.Managers.Menu.Setup.Create.ChoosingWheels.ChooseWheelsMain"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>

        <activity android:name="com.example.polimarche.Users.Managers.Menu.Setup.Create.ChoosingDampers.ChooseDampersMain"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>

        <activity android:name="com.example.polimarche.Users.Managers.Menu.Setup.Create.ChoosingSprings.ChooseSpringsMain"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>

        <activity android:name="com.example.polimarche.Users.Managers.Menu.Setup.Create.ChoosingBalance.ChooseBalanceMain"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>

        <activity
                android:name="com.example.polimarche.LoginActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>